@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --theme-color: #3867d6;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

body {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  background-color: #e5e8f0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: rgba(35, 51, 108, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .logo {
  font-weight: bolder;
  color: #fff;
  font-size: 2.5rem;
}

.header .logo span {
  color: darkcyan;
}

.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin-left: 2rem;
}

.header .navbar a:hover {
  color: var(--theme-color);
}

.header .navbar a:last-child {
  margin-right: 2rem; 
}

.review-box{
    padding:20px;
    align-items: center;
    margin-top:30px;
    
    display: flex;
    justify-content: center;
    
}

.review-box .topic{
    margin-top: 20px;
    color: rgb(48, 12, 166);
    font-size: large;
}
.container {
    display: flex;
    flex-direction: column;
     
}

.row {
    display: flex;
    flex-wrap: nowrap; 
}

.customer {
    flex: 1; 
    border-width: 5px;
    border-color: rgb(116, 120, 182);
    border-style: solid;
    padding: 15px;
    margin: 5px;
    box-sizing: border-box; 
    width: calc(33.33% - 10px); 
    font-size: 10px;
}
p{
    align-items: center;
    /* font-weight: bold; */
    font-style: italic;
    font-size: 15px;
}

.container.row.customer.name{
    font-size: 10px;
}

.stars{
    color: rgb(221, 221, 9);
    
}